<h1>Update Review Form</h1>

<div class-"row">
  <%= form_for [@shoe, @review] do |f| %>
  <div class="large-2 columns">
    <%= f.label :rating, :class => "review_heading" %>
    <%= f.select :rating, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]] %>
  </div>
  <div class="large-10 columns">
    <%= f.label :description, "Review", :class => "review_heading" %>
    <%= f.text_field :description %>
  </div>
    <div class="links">
      <%= f.submit "Update Review", :class => "update_review" %>
    <% end %>
  </div>
</div>
