
<h1 class= "text-center">New Shoe Form</h1>
<div class="row">
  <%= form_for(@shoe) do |f| %>
    <div class="large-6 columns">
      <div class="field">
        <%= f.label :brand, 'Brand' %><br/>
        <%= f.text_field :brand %>
        <%= f.label :model %><br/>
        <%= f.text_field :model %>
        <%= f.label :version %><br/>
        <%= f.text_field :version %>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="field">
        <%= f.label :picture %><br/>
        <%= f.text_field :picture %>
        <%= f.label :year %><br/>
        <%= f.text_field :year %>
        <%= f.label :price %><br/>
        <%= f.text_field :price %>
      </div>
    </div>
    <div class="large-12 columns">
      <div class="field">
        <%= f.label :description %><br/>
        <%= f.text_area :description %>
      </div>
    </div>
    <div class="large-1 columns">
      <div class="actions">
        <%= f.submit "Add Shoe"%>
      </div>
    </div>
  <% end %>
  <p><%= link_to "Back To Shoes", shoes_path %></p>
</div>
