<h1> <%= @shoe.brand %> <%= @shoe.model %> <%= @shoe.version %> </h1>
<%= image_tag(@shoe.picture) %>
<p> <%= @shoe.year%> </p>
<p> <%= @shoe.price %> </p>
<p> <%= @shoe.description %> </p>


<%= form_for [@shoe, @review] do |f| %>
<%= f.label :rating %><br/>
<%= f.text_field :rating %>
<br/>
<%= f.label :description, "Review" %><br/>
<%= f.text_field :description %>
<br/>
<%= f.submit "Add Review"%>
<% end %>

<ul>
  <% @reviews.each do |review| %>
  <li>
    <%= button_to "Upvote", review_votes_path(review), method: :post, params:{poll: true}%>
    <%= button_to "Downvote", review_votes_path(review), method: :post, params:{poll: false}%>
    Score: <%= review.tally %>
    <%= review.rating %>
    <%= review.description %>
    <% if review.user == current_user %>
      <%= link_to "Update Review", edit_shoe_review_path(@shoe, review), params:{review: review.id}%>
      <%= link_to "Delete", shoe_review_path(@shoe, review), method: :delete, params:{review: review.id}, data: {confirm: "Are you sure?"} %>
    <% end %>
  </li>
  <% end %>
</ul>

<% if @shoe.user == current_user %>
  <p><%= link_to "Update Shoe Information", edit_shoe_path %></p>

  <p><%= link_to "Delete Shoe", @shoe, method: :delete %></p>
<% end %>

<p><%= link_to "Back To Shoes", shoes_path %></p>
