
<h1> <%= @shoe.brand %> <%= @shoe.model %> <%= @shoe.version %> </h1>
<div class="row">
  <div class="large-6 columns">
    <div class="pic">
      <%= image_tag(@shoe.picture) %>
    </div>
  </div>
  <div class="large-6 columns">
    <p> Made in: <%= @shoe.year%> </p>
    <p> Price: $<%= @shoe.price %> </p>
    <p> Description: <%= @shoe.description %> </p>
  </div>
</div>
<div class="row">
  <%= form_for [@shoe, @review] do |f| %>
  <div class="large-2 columns">
    <%= f.label :rating, :class => "review_heading" %>
    <%= f.select :rating, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]] %>
  </div>
    <div class="large-10 columns">
    <%= f.label :description, "Review", :class => "review_heading" %>
    <%= f.text_field :description %>
    </div>
    <div class="links center">
      <%= f.submit "Add Review", :class => "update_review"%>
    </div>
    <% end %>
  </div>
</div>


<ul>
  <% @reviews.each do |review| %>

  <li>
    <div class="row review">
      <div class="large-1 columns box1">
        <div class="vote" data-id="<%= review.id %>"></div>
      </div>
      <div class="large-9 columns box3 end">
        <p id="rating"> Rating: <%= review.rating %> </p>
        <p> <%= review.description %> </p>
      </div>
      <div class="large-2 columns box4">
        <% if review.user == current_user %>
          <%= link_to "Update Review", edit_shoe_review_path(@shoe, review), params:{review: review.id}%></br>
        <% end %>
        <% if review.user == current_user || current_user.admin? %>
          <%= link_to "Delete", shoe_review_path(@shoe, review), method: :delete, params:{review: review.id}, data: {confirm: "Are you sure?"} %>
        <% end %>
        </div>
      </li>
      <% end %>
    </div>
  </div>
</ul>

<div class="row">
  <% if @shoe.user == current_user %>
    <div class="links">
      <p id="links_color"><%= link_to "Update Shoe Information", edit_shoe_path %></p>
    </div>
  <% end %>

  <% if @shoe.user == current_user || current_user.admin? %>
    <div class="links">
      <p><%= link_to "Delete Shoe", @shoe, method: :delete %></p>
    </div>
  <% end %>
  <div class="links">
    <p><%= link_to "Back To Shoes", root_path %></p>
  </div>
</div>
